@import "../../assets/scss/main";

.music {
  min-height: 100vh;

  .top {
    min-height: 70vh;
    margin-bottom: 2em;
    position: relative;
    overflow: hidden;
    @include clearfix;

    .music__img {
      width: 48%;
      float: left;
    }

    .music__info {
      width: 50%;
      float: right;
    }

    .bc {
      position: absolute;
      top: -60%;
      left: 0;
      height: 220%;
      width: 100%;
      z-index: -1;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      filter: blur(30px) grayscale(80%);
    }

  }

  .bottom {
    display: grid;
    grid-template-areas: "commend commend commend recommend";

    .music__commend {
      grid-area: commend;
    }

    .music__recommend {
      grid-area: recommend;
    }
  }


  //

}
