@import "../../../assets/scss/main";

.Recommend {
  .inner {
    display: grid;
    grid-template-columns: 90px auto;
    font-weight: 100;

    .el-image {
      width: 50px;
      height: 50px;
    }

    .inner--left {
      justify-self: center;
      align-self: center;
    }

    .inner--right {

      p {
        @include text-overflow-hide;

        &:last-of-type {
          color: $color-marginalized;
        }
      }
    }

  }
}
