// 项目使用到的 颜色


// 主色
$color-main: #b3330d !default;

// 文字颜色
$color-text: #202020 !default;
// 鼠标悬浮文本颜色
$color-text-hover: #555555 !default;
// 边缘化颜色， 淡色
$color-marginalized: #a7a7a7 !default;

// 背景白色
$color-bg-plain: #fff !default;
$color-bg-plain-hover: #f2f2f2 !default;
