@import "../../../assets/scss/main";

.search-input {
  place-self: center start;

  .back,
  .go {
    display: inline-block;
    padding: 4px 8px;
    border: 1px solid darken($color-main, 4%);
    color: darken($color-bg-plain, 20%);
    border-radius: 2px;
    cursor: pointer;
  }

  .search-input__wrapper {
    display: inline-block;
    background-color: darken($color-main, 5%);
    padding: 6px 16px;
    border-radius: 20px;
    margin-left: 16px;

    input {
      outline: none;
      border: none;
      background: none;
      color: white;
      font-size: 14px;
      width: 240px;
    }

    span {
      margin-left: 16px;
      cursor: pointer;
    }
  }


  .search-inner {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 0 3em;
    color: #454545 !important;

    p {
      margin: 1em 0;
      padding: 0;
    }

    /* 左边的一列 */
    .real-input-block {
      padding: 1em;

      input {
        padding-left: 1em;
        width: 45vw;
        height: 30px;
        outline: none;
        background: none;
        border: none;
        border-left: 5px solid $color-main;
        border-bottom: 1px solid $color-main;
      }

      .hot-search {
        color: #555555;

        .item {
          margin: 0.5em 1em;
          font-size: 12px;
          cursor: pointer;

          &:hover {
            color: $color-main;
          }

        }

      }

      .history-tags {
        margin-top: 1em;
        max-height: 8vh;
        overflow: auto;

        .el-tag {
          margin: 0.5em;
        }

      }

    }

    /* 搜索结果 */

    .result {

      .detail {
        max-height: 28vh;
        overflow-y: scroll;


        .el-divider {
          background-color: $color-main;

          .el-divider__text {
            color: $color-main;
            font-size: 16px;
          }
        }

        .el-divider--horizontal {
          width: 80%;
        }

        .strip {
          width: 98%;
          font-weight: 100;

          .strip-inner {
            display: grid;
            grid-template-columns: 70px 1fr 100px;

            img {
              justify-self: center;
              align-self: center;
              height: 50px;
              width: 50px;
            }

            .song-name,
            .album-name {
              margin-left: 1em;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            .song-name {

            }

            .album-name {

            }

            .author-name {
              font-size: 12px;
              color: grey;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              line-height: 35px;
            }

          }


        }

      }

    }

    /* 热门音乐 */
    //.hot-list {
    //
    //
    //}

  }


}

