.Image {
    display: grid;
    justify-content: center;

    @keyframes rollOut {
        from {
            transform: rotate(0);
        }
        to {
            transform: rotate(360deg);
        }
    }

    .el-image {
        width: 200px;
        border-radius: 50%;
        margin: 5em 0;
        animation: rollOut 15s linear infinite backwards;
    }
}